:root {
    --b: #87cefa;
    --b2: #F66B0E;
    --bg: #ffffff;
    --g1: #9a9a9a;
    --g4: #dddddd;
    --g5: #eeeeee;
    --g1o: #555555a4;


    --c1: #ff696180;
    --c2: #ffb58080;
    --c3: #f8f38d80;
    --c4: #42d6a580;
    --c5: #08cad180;
    --c6: #59adf680;
    --c7: #9d94ff80;
    --c8: #c780e880;


    --black: rgb(29, 29, 29);
    --white: #fff;
}