:root {
    --b: #87cefa;
    --b2: #F66B0E;
    --bg: #ffffff;
    --g1: #9a9a9a;
    --g4: #dddddd;
    --g5: #eeeeee;
    --g1o: #555555a4;


    --c1: #ff6961;
    --c2: #ffb480;
    --c3: #f8f38d;
    --c4: #42d6a4;
    --c5: #08cad1;
    --c6: #59adf6;
    --c7: #9d94ff;
    --c8: #c780e8;


    --black: #000;
    --white: #fff;
}