
.mail-app {
    flex-grow: 1;
    display: flex;
    padding: 10px;
    max-width: 100%;
}

.side {
    width: 200px;
}

.side>* {
    display: block;
}

.side button {
    background-color: transparent;
    border: none;

}

.mail-container {
    flex-grow: 1;
}

.mail-container {
    justify-content: flex-start;
}

.search-bar {
    margin-bottom: 10px;
}

.prev-delete {
    
}