.mail-container .preview-container {
    border-bottom: 1px solid var(--g4);
    padding: 10px;
    font-size: 0.755rem;
    gap: 50px;
}

.mail-container .preview-container:hover {
    box-shadow: 0 1px 5px -3px black;
    z-index: 100;
}

.preview-container h3 {
    padding: 0;
    margin-block: auto;
    flex-grow: 1;
    width: 0;
}

.preview-container.read h3 {
    font-weight: 500;
    font-size: larger;
}

.preview-container .mail-date {
    text-align: end;
    flex-grow: 0.3;
}

.preview-container button {
    background-color: transparent;
    border: none;
}

.prev-subject {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    flex-grow: 1;
    width: 0;
}

.prev-body {
    color: var(--g1);
    width: 200px;
    font-weight: 200;
}

.prev-delete {
    background-color: transparent;
    border: none;
}

.preview-container.read {
    background-color: var(--g5);
}