.detail-container {
    flex-grow: 1;
    width: 0;
}

.detail-container button {
    background-color: transparent;
    border: none;
}

.detail-container button:hover {
    background-color: var(--g5);
}