.detail-container {
    flex-grow: 1;
    width: 0;
}

.detail-container button {
    position: relative;
    background-color: transparent;
    border: none;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.detail-container button:hover {
    transition: background-color 0.3s;
    background-color: var(--g4);
}

.detail-container .artical-container {
    padding: 20px 10px;
}

.detail-container .artical-container>* {}

.detail-container .detail-tools {
    border-bottom: 1px solid var(--g5);
}

.detail-container .detail-subj {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    white-space: pre;
}

.detail-container .detail-sender {
    margin-bottom: 10px;
    font-weight: 400;
}

.detail-container .detail-body {
    width: 450px;
}

.detail-container .delete-btn::before {
    color: inherit;
    font-size: 1.125em;
    background-size: 100%;
    font-family: fa-reg;
    content: '';
}

.detail-container .to-keep-btn::before {
    color: inherit;
    font-size: 1.125em;
    background-size: 100%;
    font-family: fa-solid;
    content: "\f0ee";
}

.detail-container .back-btn {
    margin-right: 10px;
}

.detail-container .delete-btn {
    margin-right: 15px;
}

.detail-container .back-btn::before {
    color: inherit;
    font-size: 1.125em;
    font-family: fa-solid;
    content: '';
}