.mail-app {
    flex-grow: 1;
    display: flex;
    padding: 10px;
    max-width: 100%;
}

.side {
    width: 10rem;
}

.mail-container {
    text-overflow: ellipsis;
}

.mail-container {
    justify-content: flex-start;
}

.search-bar {
    margin-bottom: 10px;
}

.prev-delete {
    
}