.side {
    min-width: 250px;
}

.side>* {
    display: block;
    margin: 0 0 10px 0;
}

.side button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 8px 12px 8px 26px;
    width: 100%;
    text-align: start;
    border-radius: 0 20px 20px 0;
}

.side button.in-box {
    color: var(--b2);
    background-color: #ffc9a580;
}

.side button::before {
    margin-right: 14.5px;
}

.side button:hover {
    background-color: var(--g5);
}

.side button.in-box:hover {
    background-color: #ffc9a580;
}

.side .compose-link {
    display: flex;
    justify-content: space-between;
    position: relative;
    /* background-color: inherit; */
    margin: 0 0 16px 8px;
    padding: 10px 13px;
    width: 120px;
    top: -5px;
    border-radius: 20px;
    align-items: center;
    box-shadow: 0 1px 4px -2px #000000;
    transition: box-shadow 0.2s;
}

.side .compose-link:hover {
    background-color: #fcfcfc;
    box-shadow: 0 3px 14px -8px #000000;
}

.side .compose-link::before {
    content: '';
    background-image: url("../../../img/icons/plus.png");
    background-position: center;
    background-size: contain;
    height: 25px;
    width: 25px;
}

.side .inbox-btn div {
    width: 100%;
}

.side .inbox-btn::before {
    font-size: 1.125em;
    font-family: fa-solid;
    content: '\f01c';
}

.side .unread-btn::before {
    font-size: 1.125em;
    font-family: fa-solid;
    content: '';
}

.side .read-btn::before {
    font-size: 1.125em;
    font-family: fa-solid;
    content: '';
}

.side .sent-btn::before {
    font-size: 1.125em;
    font-family: fa-solid;
    content: '\f1d8';
}

@media screen and (max-width:765px) {
    .side {
        position: fixed;
        width: 250px;
        height: 81vh;
        background-color: var(--bg);
        left: -500%;
        border: 1px solid var(--g5);
        padding-top: 15px;
        z-index: 100;
    }
    
    .side.menu-open {
        left: 0;
    }
    .exit-menu {

    }
}