* {
    box-sizing: border-box;
}

body {
    font-family: roboto , sans-serif;
    background-color: var(--bg);
    margin: 0;
    font-size: 0.875rem;

}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: transparent;
}

input {
    border: none;
    border-bottom: 1px solid var(--black);
    padding-inline-start: 5px;
    outline: none;
    background: transparent;
}


.app {
    min-height: 100vh;
}

.wraper {
    height: 100vh;
}

/* ::placeholder {
    Chrome, Firefox, Opera, Safari 10.1+ 
    color: ;
    opacity: 1; 
  } */