.keep-preview {
    border: 1px solid var(--g4);
    width: 240px;
    min-height: 220px;
    border-radius: 0.5em;
    margin-bottom: auto;
    line-height: 1.25;
    position: relative;
    overflow: hidden;

}

.keep-preview aside {
    display: none;
}

.keep-preview .keep-type {
    height: 40px;
}

.keep-preview .keep-body {
    flex-grow: 1;
    word-wrap: break-word;

}

.keep-preview .keep-body .todos, .keep-txt {
    padding: 15px 15px 0 15px;

}

.keep-preview .keep-body .keep-txt .dynamic {
    color: blue;
    cursor: pointer;
}

.keep-preview .keep-body .keep-img {
    position: relative;
}


/* .keep-preview .keep-img:hover aside {
    display: block;
    position: absolute;
} */

.keep-preview .keep-body img {
    /* max-height: 100%; */
    height: 100%;
    width: 100%;
    object-fit: cover;
    /* border-radius: 0.375em; */
}

.keep-preview .keep-body .todos .todo p.done {
    text-decoration: line-through;
}

.keep-preview .keep-body textarea {
    overflow-y: unset;
    text-overflow: ellipsis;
}

.keep-preview .keep-body .todos .todo p {
    flex-grow: 1;
    padding-inline-start: 5px;
    margin-bottom: 5px;
}


.keep-preview .keep-body .keep-video iframe {
    border: none;
    width: 100%
}

.keep-preview .keep-tools {
    display: none;
    height: 40px;
}

.keep-list article:hover .keep-tools {
    display: block;
    position: absolute;
    bottom: 0;

}

.keep-preview .keep-tools button {
    border: none;
    background: transparent;
}