.keep-app {
    flex-grow: 1;
}

.keep-app .new-keep {
    width: 495px;
    border: 1px solid var(--g4);
    border-radius: 0.5em;
    margin: 2em auto;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.keep-app .new-keep input {
    margin-inline-start: 10px;
    border: none;
    outline: none;
    height: 40px;

}

.keep-app .new-keep input.input {
    width: 65%;
    font-size: 1em;
}

.keep-app .new-keep label {
    align-self: center;
}

/* .keep-app .new-keep button {
    height: 40px;
    width: 40px;
    border: none;
    background: transparent;
} */