/* Mobile only */
@media screen and (max-width:640px) {}

.keep-app {
    flex-grow: 1;
    margin-bottom: 50px;
}

.keep-app .new-keep {
    width: 350px;
    height: 45px;
    border: 1px solid var(--g4);
    border-radius: 0.5em;
    margin: 90px auto 30px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    position: relative;
    padding-inline-end: 5px;
}

.keep-app .new-keep input {
    position: absolute;
    bottom: -15px;
    margin-inline-start: 10px;
    border: none;
    outline: none;
    height: 40px;

}

.keep-app .new-keep input.input {
    width: 50%;
    font-size: 1em;
    margin-top: 15px;
}

.keep-app .new-keep .keep-type {
    position: relative;
}

.keep-app .new-keep .keep-type button {
    color: var(--g4);
    height: 35px;
    width: 35px;
}

.keep-app .new-keep .keep-type button:hover {
    color: var(--g1);
}

.btn-new-txt:before {
    font-size: 1.5em;
    font-family: fa-solid;
    content: '';
}

.btn-new-img:before {
    font-size: 1.5em;
    font-family: fa-solid;
    content: '';
}

.btn-new-todos:before {
    font-size: 1.5em;
    font-family: fa-solid;
    content: '';
}

.btn-new-video:before {
    font-size: 1.5em;
    font-family: fa-brands;
    content: '';
}


@media screen and (min-width:641px) {
    .keep-app .new-keep {
        width: 600px;
        padding-inline-end: 0;
    }

    .keep-app .new-keep input.input {
        width: 65%;
        font-size: 0.875em;
    }

    .keep-app .new-keep .keep-type button {
        height: 45px;
        width: 45px;
    }

}