:root {
    --b: #87cefa;
    --b2: #b6def6;
    --bg: #ffffff;
    --g1: #9a9a9a;
    --g2: #bbbbbb;
    --g3: #cccccc;
    --g4: #dddddd;
    --g5: #eeeeee;


    --black: #000;
    --white: #fff;
}