@media screen and (max-width:640px) {}

.home {
    margin-top: 60px;
    flex-grow: 1;
    background-color: var(--g5);
    width: 100%;
    height: 150px;
    gap: 25px;
    justify-content: space-evenly;
    padding-top: 15vh;
}

.team-member {
    max-width: 120px;
    height: auto;
    flex-direction: column;
    margin-top: 40%;
}

.app-preview {
    border-radius: 0.5em;
    height: 100px;
    align-items: center;
}

.app-preview img {
    width: 100%;
}


/* .team-member img.trans {
    transform: translateX(15%);
} */

.partner {
    flex-direction: column;
}



.partner img {
    border-radius: 100em;
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    margin-top: 50px;
}

.partner-info {
    text-align: center;
}

.team-member .partner-info h1 {
    font-size: 1.25em;
    font-family: roboto, sans-serif;
    margin-bottom: 10px;
}

.team-member .partner-info h3 {
    font-size: 1em;
    font-family: roboto-light, sans-serif;
    min-width: 140px;
}

/* .keep-link {
    padding: 0 10px;
    transform: translateX(15px);
}

.mail-link {
    padding: 0 20px;
}

.keep-link:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
}

.mail-link:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
} */

/* .app-preview a {
    display: flex;
    justify-content: space-around;
} */

.app-preview a img {
    height: 75%;
}

@media screen and (min-width:641px) {
    .home {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
        height: auto;
        align-items: center;
        padding-top: 0;


    }
    .team-member {
        flex-direction: row;
        height: 200px;
        justify-content: space-between;

    }
    .app-preview {
        width: 200px;
        margin-bottom: 0;
        margin-inline-end: 150px;
        height: 200px;
        width: 200px;
    }
    .app-preview a {
        justify-content: center;
        align-items: center;
    }
    .app-preview a img {
        width: 100%;
        transform: scale(1);
    }
    .partner {
        flex-direction: row;
    }

    .partner img {
        margin: 0;
    }

    /* img.trans {
        margin-bottom: 0;
    } */

    .partner-info {
        text-align: left;
        width: 100%;
    }
    .team-member {
        max-width: 800px;
    }
    .team-member .partner-info h1 {
        font-size: 1.25em;
        margin-bottom: 10px;
        font-size: 20px;
    }
    .team-member .partner-info h3 {
        font-size: 16px;
    }
    .partner img {
        border-radius: 100em;
        width: auto;
        height: 75%;
        margin-inline-end: 50px;
    }
}