header {
    position: fixed;
    background-color: var(--white);
    border-bottom: 1px solid var(--g4);
    padding: 0 1em;
    height: 60px;
    width: 100%;
    top: 0;
    text-transform: capitalize;
    z-index: 100;
    cursor: default;
}

header img {
    height: 80%;
    cursor: pointer;
}

header .apps {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    padding: 5px;
    margin-right: 10px;
    /* background-color: gray; */
    border-radius: 3em;
    cursor: pointer;
}


header .apps::before {
    font-family: fa-solid;
    content: "\f015";
    font-size: 30px;
}