header {
    position: fixed;
    background-color: var(--white);
    border-bottom: 1px solid var(--g4);
    height: 60px;
    padding: 0 1em;
    width: 100%;
    z-index: 100;
}

header img {
    height: 80%;
}

header .apps {
    height: 40px;
    width: 40px;
    background-color: gray;
    border-radius: 3em;
}