.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.loader img {
    height: 30%;
}

.keep-app h6 {
    font-size: 2.5rem;
    font-family: roboto, sans-serif;
    margin: 100px auto 0;
    text-align: center;
    line-height: 2.5;


}

.keep-app h6 span {
    font-size: 0.75em;
    font-family: roboto-light, sans-serif;
    text-align: center;

}