.user-msg {
    position: fixed;
    top: 7px;
    left: 15%;
    height: 45px;
    padding: 10px;
    border-radius: 0.5em;
    z-index: 1000;
    display: flex;
    align-items: center;
    width: 250px ;
}

.user-msg.success {
    background-color: lightgreen;
}

.user-msg.danger {
    background-color: rgb(242, 121, 121);
}

.user-msg .msg {
    margin-inline-end: 15px;
    font-size: 1rem;
}

.user-msg button {
    border: none;
    background: transparent;
    font-weight: 700;
    margin-inline-end: 10px;

}

.user-msg button:hover {
    color: whitesmoke;
}



@media screen and (min-width:641px) {
    .user-msg {
        top: 90px;
        right: 25px;
        width: 350px ;


    }

    .user-msg button {
        margin-inline-end: 20px;
    
    }

}