.user-msg {
    position: fixed;
    bottom: 20px;
    left: 20px;
    height: 45px;
    padding: 10px;
    border-radius: 0.5em;
    z-index: 1000;
    display: flex;
    align-items: center;
}

.user-msg.success {
    background-color: rgb(55, 55, 55);
    color: var(--g4);

}

.user-msg.danger {
    background-color: rgb(250, 85, 85);
    color: var(--g4);
}

.user-msg .msg {
    margin-inline-end: 15px;
    font-size: 1rem;
}

.user-msg button {
    border: none;
    background: transparent;
    font-weight: 700;
    margin-inline-end: 10px;
    color: var(--g4);

}

.user-msg button:hover {
    transition: 0.5s;
    transform: scale(120%);
}